@import './base.css';

#app {
	width: 100%;
	font-weight: normal;
	background-color: #ebebe5;
	color: hsl(0, 0%, 14%);
	font-family: 'Raleway';
}
p,
ol {
	font-family: 'Open Sans';
	font-size: 1rem;
}

@media (max-width: 800px) {
	p,
	ol {
		font-family: 'Open Sans';
		font-size: 1.1rem;
	}
}
